<%= stylesheet_link_tag    "/stylesheets/jquery.jqplot.css" %>

<%= javascript_include_tag '/javascripts/jquery-1.8.3.min.js' -%>
<%= javascript_include_tag '/javascripts/jquery.jqplot.min.js' -%>
<%= javascript_include_tag '/javascripts/jqplot.barRenderer.min.js' -%>
<%= javascript_include_tag '/javascripts/jqplot.categoryAxisRenderer.min.js' -%>
<%= javascript_include_tag '/javascripts/jqplot.pointLabels.min.js' -%>
<%= javascript_include_tag '/javascripts/jquery.gchart.min.js' -%>

<div id="info" >INFOS</div>
<div id="chartdiv" style="height:500px;width:1100px;"></div>
<hr />
<div id="infopie" ></div>
<br />
<div id="pieChart" style="width: 700px; height: 250px; margin-left: 15em;"></div>
<br />
<hr />
<div id="typeinfo" ></div>
<br />
<div id="type_chart" style="width: 700px; height: 250px; margin-left: 15em;"></div>
<br />
<hr />
<div id="cmsinfo" ></div>
<br />
<div id="cms_chart" style="width: 700px; height: 250px; margin-left: 15em;"></div>
<br />
<hr />
<div id="client" ><b>Esforço por Cliente X Periodo (últimas <%= params["qt_iterations"] || 4 %> iterações)</b></div>
<div id="clientinfo"></div>
<br />
<div id="clientsummary" style="height:500px;width:1200px;"></div>
<br />

<br />
<script>
  $(document).ready(function(){
    var sites = new Array();
    var labels = new Array();
    var iterations = new Array();
    var work_types = new Array();

    <% @work_type.each do |key, val| %>
      <%= "work_types.push(#{val.to_s})"%>
    <% end %>
    <% @iterations.each do |iteration| %>
      <%= raw "iterations.push(\"#{iteration["Name"]}\");" %>
    <% end %>
    <% @planestimate.each_with_index do |(key, val), index| %>
      <%= "sites.push(#{val.to_s});" %>
      <%= raw "labels.push(\"#{key}\");" %>
    <% end %>
    /////////////////////////////////////
    // Stack bar clienteXesforcoXiteracao
    plot3 = $.jqplot('chartdiv', sites, {
        // Tell the plot to stack the bars.
        title:'Esforço por Cliente/Iteração',
        stackSeries: true,
        captureRightClick: true,
        seriesDefaults:{
          renderer:$.jqplot.BarRenderer,
          fillToZero: true,
          rendererOptions: {
              fontSize: '8pt;font_weight:bold',
              fillToZero: true,
              // Put a 30 pixel margin between bars.
              barMargin: 30,
              // Highlight bars when mouse button pressed.
              // Disables default highlighting on mouse over.
              highlightMouseDown: true
          },
          pointLabels: {show: true, hideZeros:true}
        },
        axesDefaults: {
             tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
             tickOptions: {
               fontSize: '8pt'
             }
         },
        axes: {
          xaxis: {
              renderer: $.jqplot.CategoryAxisRenderer,
              ticks: iterations
          },
          yaxis: {
            // Don't pad out the bottom of the data range.  By default,
            // axes scaled as if data extended 10% above and below the
            // actual range to prevent data points right on grid boundaries.
            // Don't want to do that here.
            padMin: 0
          }
        },
        legend: {
          show: true,
          location: 'e',
          placement: 'outside',
          labels: labels
        }
      });
      // Bind a listener to the "jqplotDataClick" event.  Here, simply change
      // the text of the info3 element to show what series and ponit were
      // clicked along with the data for that point.
      $('#chartdiv').bind('jqplotDataClick',
        function (ev, seriesIndex, pointIndex, data) {
          var html = ""
          html += "<ul>"
          html += "<li>Projeto: "+labels[seriesIndex]+"</li>"
          html += "<li>Iteração: "+iterations[pointIndex]+"</li>"
          html += "<li> Esforço: "+data[1]+"</li>"
          html += "</ul>"
          $('#info').html(html);
        }
      );

      ////////////////////////
      //Pie cliente sumarizado
      var dataPie = [$.gchart.series('Resumo', <%=@summary.to_s%>)];
      dataPie[0].color = ['red', 'lime', 'blue', 'grey', 'navy', 'purple']

      $('#pieChart').gchart({
        type: '<%=@pie_type%>',
        series: dataPie,
        pieOrientation: "90",
        dataLabels: <%=raw @summary_labels.to_s%>,
      });

      var summary_title = "<b>Resumo das iterações:</b> " + iterations.join(", ")
      $('#infopie').html(summary_title);


      //Pie Natureza do esforco sumarizado
      var dataPie = [$.gchart.series('Natureza', work_types)];
      dataPie[0].color = ['red', 'lime', 'blue', 'grey', 'navy', 'purple']

      $('#type_chart').gchart({
        type: '<%=@pie_type%>',
        series: dataPie,
        pieOrientation: "90",
        dataLabels: <%=raw @work_type_labels.to_s%>,
      });

      var summary_title = "<b>Resumo por Natureza do esforço:</b> " + iterations.join(", ")
        $('#typeinfo').html(summary_title);

      //Pie Tipo de CMS
      var dataPie = [$.gchart.series('cms', <%=@by_cms_type.values.to_s%>)];
      dataPie[0].color = ['red', 'lime', 'blue', 'grey', 'navy', 'purple']
      <%cms = @by_cms_type.keys.map(&:to_s).map(&:capitalize) %>
      $('#cms_chart').gchart({
        type: '<%=@pie_type%>',
        series: dataPie,
        pieOrientation: "90",
        dataLabels: <%=raw @by_cms_type.keys %>,
      });

      var summary_title = "<b>Por tipo de CMS:</b> " + iterations.join(", ")
        $('#cmsinfo').html(summary_title);

      /////////////////////////
      //Bar cliente sumarizado
      var plot1 = $.jqplot('clientsummary', [<%= @ordered[:effort].to_s%>], {
          // The "seriesDefaults" option is an options object that will
          // be applied to all series in the chart.
          stackSeries: true,
          seriesDefaults:{
              renderer:$.jqplot.BarRenderer,
              rendererOptions: {fillToZero: true}
          },
          legend: {
              show: false,
          },
          axesDefaults: {
               tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
               tickOptions: {
                 fontSize: '7pt'
               }
           },
          axes: {
              // Use a category axis on the x axis and use our custom ticks.
              xaxis: {
                  renderer: $.jqplot.CategoryAxisRenderer,
                  ticks: <%= raw @ordered[:sites].to_s%>
              },
              // Pad the y axis just a little so bars can get close to, but
              // not touch, the grid boundaries.  1.2 is the default padding.
              yaxis: {
                  pad: 1.05,
              }
          }
      });
      $('#clientsummary').bind('jqplotDataClick',
        function (ev, seriesIndex, pointIndex, data) {
          var html = ""
          html += "<ul>"
          html += "<li>Projeto: "+<%= raw @ordered[:sites].to_s%>[pointIndex]+"</li>"
          html += "<li> Esforço: "+data[1]+"</li>"
          html += "</ul>"
          $('#clientinfo').html(html);
        }
      );

  });
</script>
