<%= stylesheet_link_tag    "/stylesheets/jquery.jqplot" %>

<%= javascript_include_tag '/javascripts/jquery.jqplot.min.js' -%>
<%= javascript_include_tag '/javascripts/jqplot.barRenderer.min.js' -%>
<%= javascript_include_tag '/javascripts/jqplot.categoryAxisRenderer.min' -%>
<%= javascript_include_tag '/javascripts/jqplot.pointLabels.min' -%>
<%= javascript_include_tag '/javascripts/jquery.gchart.min.js' -%>

<div id="chartdiv" style="height:500px;width:600px;"></div>
<hr />
<div id="piediv"></div>
<script>
  $(document).ready(function(){
    var data = <%= raw @planestimate%>
    var plot1 = jQuery.jqplot ('chartdiv', [data],
      {
        title:'Esforço por Cliente/Iteração - <%= @iteration_name%>',
        seriesDefaults: {
          // Make this a pie chart.
          renderer: jQuery.jqplot.PieRenderer,
          rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true,
          sliceMargin: 3,
          // Pies and donuts can start at any arbitrary angle.
          startAngle: -90,
          dataLabels: 'value'
        }
      },
      legend: { show:true, location: 'e' }
    });
  });
</script>


